@page "/"

@inject PeopleService PeopleService

<div class="row">
    <div class="col-sm-4 panelPeopleList">
        @if (manyPeople == null)
        {
            <div class="col-sm-12">
                <div class="loadingCell">
                    <div class='spinner'>
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                    </div>
                    <span class="loadingCellText">Loading</span>
                </div>
            </div>
        }
        else
        {
            <ul>
                @foreach (People people in manyPeople)
                {
                    <li class="personCell">
                        <div class="row">
                            <div class="col-sm-10">
                                <span class="textPersonBold">
                                    @people.Name
                                    <br />
                                    <span class="textPersonShadow">
                                        @string.Concat(@people.Gender, " from ", @people.Planet)
                                    </span>
                                </span>
                            </div>
                            <div class="col-sm-2">
                                <span class="oi oi-chevron-right textPersonIcon" @onclick="(()=>ShowDetails(people.Name))"></span>
                            </div>
                        </div>
                    </li>
                }
                @if (showLoading)
                {
                    <li class="personCell">
                        <span class="loadingCellItems" @onclick="(() => AddMoreItems())"><img class="loadingImage" src="loading.gif" />Click for loading more items...</span>
                    </li>
                }
            </ul>
        }

    </div>

    @if (requestDetails)
    {
        <div class="col-sm-8 panelPeopleInfo">
            <div class="parentCellHeader">
                <span class="parentCellHeaderText">General Information</span>
            </div>
            <div class="col-sm-12 infoCell">
                <span class="infoCellTextLabel"> Eye Color</span>
                <span class="infoCellTextValue">@requestedPeople.Eye</span>
            </div>
            <div class="col-sm-12 infoCell">
                <span class="infoCellTextLabel"> Hair Color</span>
                <span class="infoCellTextValue">@requestedPeople.Hair</span>
            </div>
            <div class="col-sm-12 infoCell">
                <span class="infoCellTextLabel"> Skin Color</span>
                <span class="infoCellTextValue">@requestedPeople.Skin</span>
            </div>
            <div class="col-sm-12 infoCell">
                <span class="infoCellTextLabel">Birth Year</span>
                <span class="infoCellTextValue">@requestedPeople.Birth</span>
            </div>
            @if (requestedPeople.Vehicles.Length > 0)
            {
                <div class="parentCellHeader">
                    <span class="parentCellHeaderText">Vehicles</span>
                </div>
                @foreach (var vehicleName in requestedPeople.Vehicles)
                {
                    <div class=" col-sm-12 infoCell">
                        <span class="infoCellTextLabel">@vehicleName </span>
                    </div>
                }
            }
            else
            {
                @string.Empty;
            }
        </div>
    }
</div>
@code {
    private List<People> manyPeople;
    private bool requestDetails = false;
    private People requestedPeople = new People();
    int pageCounter = 1;
    private bool showLoading = true;

    protected override async Task OnInitializedAsync()
    {
        manyPeople = await PeopleService.GetPeople(pageCounter);
        pageCounter++;
    }

    private void ShowDetails(string name)
    {
        requestDetails = true;
        requestedPeople = (People)manyPeople.FirstOrDefault(x => x.Name == name);
    }

    private async void AddMoreItems()
    {
        var newRequest = await PeopleService.GetPeople(pageCounter);
        if (newRequest != null)
        {
            manyPeople.AddRange(newRequest);
            pageCounter++;
        }
        else
        {
            showLoading = false;
        }
        StateHasChanged();
    }
}
